@model PagedList.IPagedList<thietbiphatsang.tb_KhuyenMai>
@using PagedList.Mvc
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}

<div class="row" id="content1">
    <div class="col-md-12">
        <div class="table-wrapper">

            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                        <h2 class="ml-lg-2">Quản lý loại sản phẩm</h2>
                    </div>
                    <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>Thêm mới</span>
                        </a>

                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Mã
                        </th>
                        <th>Tên</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th style="width:100px">
                            @item.strMaDotKM
                        </th>
                        <th>@item.ten</th>
                        <th>@item.dateBatDau.Value.ToShortDateString()</th>
                        <th>@item.dateKetThuc.Value.ToShortDateString()</th>

                        <th>
                            <a class="edit" data-toggle="modal" onclick="(editloai('@item.strMaDotKM', '@item.ten', '@item.dateBatDau', '@item.dateKetThuc'))">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                            </a>

                            <a onclick="deleteloai('@item.strMaDotKM', '@item.ten')" class="delete" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                            </a>
                        </th>
                    </tr>

                    }

                </tbody>


            </table>


            <div class="clearfix">
                <div class="hint-text"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</div>
                <ul class="pagination pull-right text-center text-black">
                    @Html.PagedListPager(Model, Page => Url.Action("khuyenmai", new { Page }))
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="addEmployeeModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Tên</label>
                        <input type="text" id="tenkm" name="ten" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày bắt đầu</label>
                        <input type="date" id="ngaybdkm" name="ten"  class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày kết thúc</label>
                        <input type="date" id="ngayktkm" name="ten"  class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="themkm" class="btn btn-success">Thêm</button>
                </div>


            </div>
        </div>
    </div>
    <script>
        $("#themkm").click(function (){
            $.ajax({
                url: "/quantri/quantri/themkm",
                type: "GET",
                data: { ten: $("#tenkm").val(), bd: $("#ngaybdkm").val(), kt: $("#ngayktkm").val()},
                success: function (rs) {
                    alert(rs);
                    if (rs == "Thêm thành công") { location.reload() };
                    
                }
            })
        })
    </script>
    <!----edit-modal end--------->
    <!----edit-modal start--------->
    <div class="modal fade" tabindex="-1" id="editEmployeeModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã</label>
                        <input type="text" id="makmsua" readonly class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tên</label>
                        <input type="text" id="tenkmsua" name="ten" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày bắt đầu</label>
                        <input type="date" id="ngaybdkmsua" name="ten" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày kết thúc</label>
                        <input type="date" id="ngayktkmsua" name="ten" class="form-control" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnLuukm1" class="btn btn-success">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        var editloai = function (ma, ten, bd, kt) {

            $("#editEmployeeModal").modal('show');
            $("#makmsua").val(ma);
            $("#tenkmsua").val(ten);
            $("#ngaybdkmsua").val(bd);
            $("#ngayktkmsua").val(kt);
            
        }

        $("#btnLuukm1").click(function () {
            $.ajax({
                url: "/quantri/quantri/suakm",
                type: "GET",
                data: {
                    id: $("#makmsua").val(), ten: $("#tenkmsua").val(), bd: $("#ngaybdkmsua").val(), kt: $("#ngayktkmsua").val()

                },
                success: function (rs) {
                    alert(rs);
                    if (rs == "Lưu thành công") { location.reload() };
                }
            })
        })
        
    </script>
    <!----edit-modal end--------->
    <!----delete-modal start--------->
    <div class="modal fade" tabindex="-1" id="deleteEmployeeModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn chắc muốn xóa <span id="maloaixoa" class="text-danger"></span>   này?</p>
                    <p class="text-warning"><small>xóa rồi không thể khôi phục,</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnxoakm" class="btn btn-success">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var deleteloai = function (ma, ten) {
        $("#deleteEmployeeModal").modal('show');
        $("#maloaixoa").text(ten);
        $("#btnxoakm").click(function () {
            $.ajax({
                url: "/quantri/quantri/xoakm",
                type: "GET",
                data: {
                    id: ma

                },
                success: function (rs) {
                    alert(rs);
                    if (rs == "Xóa thành công") { location.reload() };
                }
            })
        })
    }

</script>